html {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html *,
html ::after,
html ::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 24px;
    font-family: "Coves", Tahoma, sans-serif;
    color: #151414;
    word-wrap: break-word;
    background-color: #fff;
}

h1, h2, h3 {
    font-weight: 400;
    line-height: 1;
    font-family: "Great Vibes", "Times New Roman", serif;
    text-align: center;
    color: #5c5c57;
}

h1  {
    font-size: 100px;
}

h2  {
    font-size: 60px;
}

h3 {
    font-size: 30px;
}

a {
    text-decoration: none;

    &[href] {
        cursor: pointer;
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

picture {
    display: block;
}

input,
select,
textarea {
    display: block;
    width: 100%;
    padding: 0;
    color: #151414;
    outline: none;
}
