body {
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 24px;
    font-family: "Coves", Tahoma, sans-serif;
    color: #151414;
    word-wrap: break-word;
    background-color: #fff;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

picture {
    display: block;
}

input,
select,
textarea {
    display: block;
    width: 100%;
    padding: 0;
    color: #151414;
    outline: none;
}
