.about-home {
    padding-bottom: 145px;
}

.about-home__text {
    height: 100%;
    padding-top: 4px;
    padding-left: 22px;
    border-left: 2px solid #d0d5cc;
}

.about-home__text h2 {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 60px;
    line-height: 1em;
    font-family: "Great Vibes", "Times New Roman", serif;
    text-align: center;
    color: #5c5c57;
}

.about-home__text p,
.about-home__text ul {
    margin: 16px 0;
    line-height: 1.2em;
}

.about-home__text *:first-child {
    margin-top: 0;
}

.about-home__text *:last-child {
    margin-bottom: 0;
}

.about-home__img {

}
