.breadcrumbs {

}

span[property="itemListElement"] {
    margin-right: 8px;
}

.breadcrumbs .home span {
    display: inline-block;
    width: 15px;
    height: 15px;
    font-size: 0;
    vertical-align: middle;
    background: url('img/bg/home.svg') no-repeat 0 0;
    background-size: contain;
}

.breadcrumbs a {
    color: #515151;
    transition: all .15s ease-in;

    &:hover,
    &:focus {
        text-decoration: none;
        color: #9d824f;
    }
}

.breadcrumbs__separator {
    margin-right: 8px;
    font-size: 37px;
    line-height: 0;
    vertical-align: middle;
    color: #b2b2b2;
}

.breadcrumbs .current-item {
    color: #a2ac9a;
}
