.breadcrumbs {
    position: relative;
    padding: 25px 0;
    font-size: 18px;
    background-color: #fcf6f2;
}

.breadcrumbs__link {
    margin-right: 8px;
    color: #515151;
    transition: all .15s ease-in;

    &:hover,
    &:focus {
        text-decoration: none;
        color: #9d824f;
    }
}

.breadcrumbs__separator {
    margin-right: 8px;
    font-size: 37px;
    line-height: 0;
    vertical-align: middle;
    color: #b2b2b2;
}

.breadcrumbs__current {
    color: #a2ac9a;
}

.breadcrumbs__decor-1 {
    top: -115px;
    left: -75px;
}

.breadcrumbs__decor-2 {
    right: -230px;
    bottom: -560px;
}

@media screen and (max-width: 1920px) {
    .breadcrumbs__decor-2 {
        bottom: -420px;
    }
}

@media screen and (max-width: 1650px) {
    .breadcrumbs__decor-1 {
        left: -135px;
    }
}