.button {
    position: relative;
    display: inline-block;
    padding: 15px;
    font-size: 30px;
    line-height: 1em;
    user-select: none;
    vertical-align: middle;
    text-align: center;
    white-space: normal;
    word-wrap: normal;
    color: #fff;
    background-color: #a2ac9a;
    border: none;
    border-radius: 10px;
    transition: all .15s ease-in;
    cursor: pointer;

    &:hover,
    &:focus {
        text-decoration: none;
        color: #fff;
        background-color: #bec5b8;
        outline: none;
    }

    &--extra {
        padding-top: 16px;
        padding-bottom: 16px;
        font-weight: 700;
        line-height: 0.8;

        color: #7a936b;
        background: linear-gradient(208deg, rgba(244, 226, 211, 1) 0%, rgba(242, 206, 191, 1) 100%);
        box-shadow: 0 3px 0 #deac9e, 0 5px 14px 2px rgba(220, 187, 183, 0.75);


        &:hover,
        &:focus {
            color: #7a936b;
            background: linear-gradient(208deg, rgba(242, 206, 191, 1) 0%, rgba(244, 226, 211, 1) 100%);
        }
    }
}
