.category {
    position: relative;
    display: block;
    width: 318px;
    height: 332px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 20px 1px rgba(83, 80, 80, 0.29);

    &:hover .category__img,
    &:focus .category__img {
        transform: scale(1.1);
    }

    &:hover .category__title,
    &:focus .category__title {
        background-color: rgba(162, 172, 154, 1);
    }
}

.category__title {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 66px;
    margin: 0;
    padding: 0 15px;
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    font-family: "Coves", Tahoma, sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #fff;
    background-color: rgba(162, 172, 154, .9);
    transform: translate(0, -50%);
    transition: all .15s ease-in;
}

.category__img {
    width: 318px;
    height: 332px;
    border-radius: 15px;
    transition: transform .3s ease-in;
}