.categories {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

.categories__item {
    margin-right: 15px;

    &:nth-child(4n) {
        margin-right: 0;
    }

    &:nth-child(n + 5) {
        margin-top: 25px;
    }
}

@media screen and (max-width: 1260px) {
    .categories__item {

        &:nth-child(4n) {
            margin-right: 15px;
        }

        &:nth-child(3n) {
            margin-right: 0;
        }

        &:nth-child(n + 4) {
            margin-top: 25px;
        }
    }
}

@media screen and (max-width: 992px) {
    .categories__item {

        &:nth-child(3n) {
            margin-right: 15px;
        }

        &:nth-child(2n) {
            margin-right: 0;
        }

        &:nth-child(n + 3) {
            margin-top: 25px;
        }
    }
}

@media screen and (max-width: 768px) {
    .categories {
        display: block;
    }
    
    .categories__item {
        width: 281px;
        margin-right: auto;
        margin-left: auto;

        &:nth-child(2n),
        &:nth-child(3n) {
            margin-right: auto;
            margin-left: auto;
        }

        &:nth-child(n + 2) {
            margin-top: 25px;
        }
    }
}
