.contacts-letter {
    position: relative;
    padding-top: 155px;
    padding-bottom: 185px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.no-js .contacts-letter,
.no-webp .contacts-letter {
    background-image: url("img/bg/contacts-letter.png");
}

.webp .contacts-letter {
    background-image: url("img/bg/contacts-letter.webp");
}

.contacts-letter__box {
    position: relative;
}

.contacts-letter__list {
    @include reset-list;

    position: absolute;
    right: 0;
    bottom: 27px;
    left: 175px;
    width: 250px;
}

.contacts-letter__list li {

}

.contacts-letter__list a {
    display: inline-flex;
    align-items: center;
    font-size: 18px;
    line-height: 0.8889em;
    color: #151414;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover,
    &:focus {
        text-decoration: none;
        color: #9d824f;
    }

    &:before {
        content: "";
        flex-shrink: 0;
        display: block;
        width: 27px;
        height: 27px;
        margin-right: 10px;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: contain;
    }
}

/////
.no-js .contacts-letter__list li:nth-child(1) a::before,
.no-webp .contacts-letter__list li:nth-child(1) a::before {
    background-image: url("img/bg/contact-marker-icon.png");
}

.webp .contacts-letter__list li:nth-child(1) a::before {
    background-image: url("img/bg/contact-marker-icon.webp");
}

/////
.no-js .contacts-letter__list li:nth-child(2) a::before,
.no-webp .contacts-letter__list li:nth-child(2) a::before {
    background-image: url("img/bg/contact-email-icon.png");
}

.webp .contacts-letter__list li:nth-child(2) a::before {
    background-image: url("img/bg/contact-email-icon.webp");
}

/////
.no-js .contacts-letter__list li:nth-child(3) a::before,
.no-webp .contacts-letter__list li:nth-child(3) a::before {
    background-image: url("img/bg/contact-phone-icon.png");
}

.webp .contacts-letter__list li:nth-child(3) a::before {
    background-image: url("img/bg/contact-phone-icon.webp");
}

.contacts-letter__decor {
    top: 50px;
    left: -230px;
}

@media screen and (max-width: 768px) {
    .contacts-letter__decor {
        top: -20px;
        left: -330px;
    }

    .contacts-letter__list {
        left: 50%;
        bottom: 12px;
        transform: translate(-50%, 0);
    }
}

@media screen and (max-width: 576px) {
    .contacts-letter__decor {
        left: -370px;
    }
}
