.content {

}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    font-weight: 700;
    line-height: 1.2em;
    font-family: "Coves", Tahoma, sans-serif;
}

.content h1 {
    margin-top: 90px;
    margin-bottom: 45px;
    font-size: 60px;
}

.content h2 {
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 50px;
}

.content h3 {
    font-size: 40px;
}

.content h4 {
    font-size: 30px;
}

.content h3,
.content h4,
.content h5,
.content h6 {
    margin-top: 40px;
    margin-bottom: 20px;
}

.content h5,
.content h6 {
    font-size: 24px;
}

.content a {
    color: #8a9b7c;

    &:hover {
        color: #616e56;
        text-decoration: underline;
    }
}

.content *:first-child {
    margin-top: 0;
}

.content *:last-child {
    margin-bottom: 0;
}

.content p,
.content ul {
    margin: 16px 0;
    line-height: 1.2em;
}

.content ul {
    padding: 0;
    list-style: none;
}

.content li {
    position: relative;
    padding-left: 40px;

    &::before {
        content: "";
        position: absolute;
        top: 11px;
        left: 20px;
        width: 8px;
        height: 8px;
        background-color: #8a9b7c;
        border-radius: 50%;
    }
}

.content strong {
    font-weight: 700;
}