.decor {
    position: absolute;
    z-index: 3;
    pointer-events: none;
}

.decor__element {
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
}

.decor__element--1 {
    width: 271px;
    height: 297px;
}

.decor__element--2 {
    width: 408px;
    height: 439px;
}

.decor__element--3 {
    width: 438px;
    height: 695px;
}

.decor__element--4 {
    display: block;
    width: 82px;
    height: 78px;
}

.decor__element--5 {
    width: 298px;
    height: 263px;
}

.decor__element--6 {
    width: 509px;
    height: 670px;
}

.decor__element--7 {
    width: 509px;
    height: 670px;
}

.decor__element--8 {
    width: 438px;
    height: 695px;
}

.decor__element--9 {
    width: 495px;
    height: 516px;
}

.decor__element--10 {
    width: 217px;
    height: 250px;
}

.decor__element--11 {
    width: 191px;
    height: 313px;
}

.decor__element--12 {
    width: 330px;
    height: 456px;
}

.decor__element--13 {
    width: 271px;
    height: 297px;
}

.decor__element--14 {
    width: 408px;
    height: 439px;
}

.decor__element--15 {
    width: 438px;
    height: 695px;
}

.decor__element--16 {
    width: 217px;
    height: 250px;
}

.decor__element--17 {
    width: 500px;
    height: 575px;
}

/*decor 1*/
.no-js .decor__element--1,
.no-webp .decor__element--1 {
    background-image: url("img/bg/offer-home-decor-1.png");
}

.webp .decor__element--1 {
    background-image: url("img/bg/offer-home-decor-1.webp");
}

/*decor 2*/
.no-js .decor__element--2,
.no-webp .decor__element--2 {
    background-image: url("img/bg/offer-home-decor-2.png");
}

.webp .decor__element--2 {
    background-image: url("img/bg/offer-home-decor-2.webp");
}

/*decor 3*/
.no-js .decor__element--3,
.no-webp .decor__element--3 {
    background-image: url("img/bg/triggers-decor.png");
}

.webp .decor__element--3 {
    background-image: url("img/bg/triggers-decor.webp");
}

/*decor 4*/
.no-js .decor__element--4,
.no-webp .decor__element--4 {
    background-image: url("img/bg/order-decor-1.png");
}

.webp .decor__element--4 {
    background-image: url("img/bg/order-decor-1.webp");
}

/*decor 5*/
.no-js .decor__element--5,
.no-webp .decor__element--5 {
    background-image: url("img/bg/order-decor-2.png");
}

.webp .decor__element--5 {
    background-image: url("img/bg/order-decor-2.webp");
}

/*decor 6*/
.no-js .decor__element--6,
.no-webp .decor__element--6 {
    background-image: url("img/bg/contacts-index-decor.png");
}

.webp .decor__element--6 {
    background-image: url("img/bg/contacts-index-decor.webp");
}

/*decor 7*/
.no-js .decor__element--7,
.no-webp .decor__element--7 {
    background-image: url("img/bg/main-footer-decor.png");
}

.webp .decor__element--7 {
    background-image: url("img/bg/main-footer-decor.webp");
}

/*decor 8*/
.no-js .decor__element--8,
.no-webp .decor__element--8 {
    background-image: url("img/bg/triggers-decor.png");
}

.webp .decor__element--8 {
    background-image: url("img/bg/triggers-decor.webp");
}

/*decor 9*/
.no-js .decor__element--9,
.no-webp .decor__element--9 {
    background-image: url("img/bg/main-decor-2.png");
}

.webp .decor__element--9 {
    background-image: url("img/bg/main-decor-2.webp");
}

/*decor 10*/
.no-js .decor__element--10,
.no-webp .decor__element--10 {
    background-image: url("img/bg/main-decor-3.png");
}

.webp .decor__element--10 {
    background-image: url("img/bg/main-decor-3.webp");
}

/*decor 11*/
.no-js .decor__element--11,
.no-webp .decor__element--11 {
    background-image: url("img/bg/main-decor-4.png");
}

.webp .decor__element--11 {
    background-image: url("img/bg/main-decor-4.webp");
}

/*decor 12*/
.no-js .decor__element--12,
.no-webp .decor__element--12 {
    background-image: url("img/bg/main-decor-5.png");
}

.webp .decor__element--12 {
    background-image: url("img/bg/main-decor-5.webp");
}

/*decor 13*/
.no-js .decor__element--13,
.no-webp .decor__element--13 {
    background-image: url("img/bg/offer-home-decor-1.png");
}

.webp .decor__element--13 {
    background-image: url("img/bg/offer-home-decor-1.webp");
}

/*decor 14*/
.no-js .decor__element--14,
.no-webp .decor__element--14 {
    background-image: url("img/bg/offer-home-decor-2.png");
}

.webp .decor__element--14 {
    background-image: url("img/bg/offer-home-decor-2.webp");
}

/*decor 15*/
.no-js .decor__element--15,
.no-webp .decor__element--15 {
    background-image: url("img/bg/triggers-decor.png");
}

.webp .decor__element--15 {
    background-image: url("img/bg/triggers-decor.webp");
}

/*decor 16*/
.no-js .decor__element--16,
.no-webp .decor__element--16 {
    background-image: url("img/bg/main-decor-3.png");
}

.webp .decor__element--16 {
    background-image: url("img/bg/main-decor-3.webp");
}

/*decor 17*/
.no-js .decor__element--17,
.no-webp .decor__element--17 {
    background-image: url("img/bg/main-decor-2.png");
}

.webp .decor__element--17 {
    background-image: url("img/bg/main-decor-2.webp");
}
