input.error {
    border-color: #fb5258 !important;
}

label.error {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    margin-bottom: 0;
    padding-top: 3px;
    font-size: 14px;
    line-height: 1;
    text-align: right;
    color: #fb5258;
}

input.error:focus,
textarea.error:focus {
    box-shadow: 0 0 10px 2px rgba(251, 82, 88, 0.5) !important;
}
