label.error {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    margin-bottom: 0;
    padding-top: 3px;
    font-size: 14px;
    line-height: 1;
    text-align: right;
    color: #fb5258;
}