.gallery-tip {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

.gallery-tip__item {
    margin-right: 22px;

    &:nth-child(3n) {
        margin-right: 0;
    }

    &:nth-child(n + 4) {
        margin-top: 22px;
    }
}

.gallery-tip__link {
    display: block;
}

.gallery-tip__img {
    width: 375px;
    height: 392px;
    border-radius: 15px;
}

@media screen and (max-width: 1260px) {
    .gallery-tip__img {
        width: 295px;
        height: auto;
    }
}

@media screen and (max-width: 992px) {
    .gallery-tip__item {
        margin-right: 15px;
    }

    .gallery-tip__img {
        width: 220px;
    }
}

@media screen and (max-width: 768px) {
    .gallery-tip__img {
        width: 160px;
    }
}

@media screen and (max-width: 576px) {
    .gallery-tip {
        display: block;
    }

    .gallery-tip__item {
        margin-right: 0;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .gallery-tip__img {
        width: 100%;
    }
}
