.main {
    position: relative;
    padding-top: 140px;
    padding-bottom: 145px;
    background-repeat: no-repeat;
    background-position: calc(50% + 565px) 36vh;
    overflow: hidden;
}

body:not(.is-mobile) .main {
    background-attachment: fixed;
}

.no-js .main,
.no-webp .main {
    background-image: url("img/bg/rose.png");
}

.webp .main {
    background-image: url("img/bg/rose.webp");
}

.main__nav {
    margin: 0 auto 80px;
}

.main__title {
    max-width: 1170px;
    margin: 0 auto 10px;
}

.main__page-info {
    margin-bottom: 23px;
}

.main__decor-1 {
    top: 250px;
    left: -170px;
}

.main__decor-2 {
    top: 1360px;
    right: -270px;
}

.main__decor-3 {
    top: 3095px;
    left: -70px;
}

.main__decor-4 {
    top: 4050px;
    left: -5px;
}

.main__decor-5 {
    top: 4230px;
    right: -95px;
}

@media screen and (max-width: 1920px) {
    .main__decor-5 {
        display: none;
    }
}