.main-header {
    padding-top: 15px;
    background-repeat: no-repeat;
    background-position: top right;
}

.no-js .main-header,
.no-webp .main-header {
    background-image: url("img/bg/header.png");
}

.webp .main-header {
    background-image: url("img/bg/header.webp");
}

.main-header__top {

}

.main-header__extra-nav {
    @include reset-list;
    display: flex;
    align-items: center;
}

.main-header__extra-nav li {
    margin-right: 19px;
}

.main-header__extra-nav li:last-child {
    margin-right: 0;
}

.main-header__extra-nav a {
    display: flex;
    align-items: center;
    height: 40px;
    font-weight: 700;
    font-size: 20px;
    color: #000;
    transition: all 0.3s ease;
    cursor: pointer;
}

.main-header__extra-nav a:hover,
.main-header__extra-nav a:focus {
    text-decoration: none;
    color: #9d824f;
}

.main-header__extra-nav li:first-child a {
    padding: 0 14px;
    color: #fff;
    background-color: #d0aeaa;
    border-radius: 22px;
    box-shadow: 0 2px 6px rgba(182, 146, 141, 1);
}

.main-header__extra-nav li:first-child a:hover,
.main-header__extra-nav li:first-child a:focus {
    background-color: #bb9b97;
}

.main-header__contacts-box {
    display: flex;
    align-items: center;
    margin-bottom: 19px;
}

.main-header__contacts {
    @include reset-list;
    display: flex;
    margin-left: auto;
    margin-right: 47px;
}

.main-header__contacts li {
    margin-right: 17px;
}

.main-header__contacts li:last-child {
    margin-right: 0;
}

.main-header__contacts a {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #000;
    transition: all 0.3s ease;
    cursor: pointer;
}

.main-header__contacts li:nth-child(1) a {
    font-size: 14px;
}

.main-header__contacts a::before {
    content: "";
    flex-shrink: 0;
    display: block;
    width: 35px;
    height: 35px;
    margin-right: 7px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
}

.main-header__contacts li:nth-child(1) a::before {
    background-image: url("img/base/contact-phone-icon.png");
}

.main-header__contacts li:nth-child(2) a::before {
    background-image: url("img/base/contact-email-icon.png");
}

.main-header__contacts a:hover,
.main-header__contacts a:focus {
    text-decoration: none;
    color: #9d824f;
}

.main-header__contacts-link {
    font-size: 18px;
    color: #000;
    transition: all 0.3s ease;
    cursor: pointer;
}

.main-header__contacts-link:hover,
.main-header__contacts-link:focus {
    text-decoration: none;
    color: #9d824f;
}

.main-header__search {
    position: relative;
    margin-left: auto;
}

.main-header__logo {
    margin: -74px auto 25px;
}

.main-header__logo[href] {
    cursor: pointer;
}

@media (min-width: 1260px) {
    .main-header__bottom .container {
        max-width: 1300px;
    }
}

@media screen and (max-width: 1850px) {
    .main-header {
        background-position: top right;
    }
}

@media screen and (max-width: 1850px) {
    .main-header {
        background-position: calc(100% + 200px) 0;
    }
}

