.main-products {
    padding-bottom: 130px;
}

.main-products .container {
    position: relative;
    z-index: 2;
}

.main-products__list,
.main-products__categories {
    margin: 0 0 80px 0;
}

@media (min-width: 1431px) {
    .main-products .container {
        max-width: 1371px;
    }
}
