.main-wedding-tip {
    position: relative;
    padding-bottom: 120px;
    overflow: hidden;
}

.main-wedding-tip__decor-1 {
    top: 900px;
    left: -170px;
}

.main-wedding-tip__decor-2 {
    top: 2230px;
    right: -270px;
}

.main-wedding-tip__decor-3 {
    top: 2900px;
    left: -70px;
}