.main-posts {
    position: relative;
    padding-top: 57px;
    padding-bottom: 145px;
    overflow: hidden;
}

.main-posts__page-info {
    margin-bottom: 70px;
}

.main-posts__decor-1 {
    top: 140px;
    right: -30px;
}

.main-posts__decor-2 {
    top: 795px;
    left: -170px;
}

.main-posts__decor-3 {
    top: 3250px;
    right: -270px;
}

.main-posts__decor-4 {
    top: 5070px;
    left: -70px;
}

.main-posts__decor-5 {
    top: 6170px;
    left: -5px;
}

@media screen and (max-width: 1530px) {
    .main-posts__decor-1,
    .main-posts__decor-2,
    .main-posts__decor-3,
    .main-posts__decor-4,
    .main-posts__decor-5 {
        display: none;
    }
}
