.main {
    position: relative;
    padding-top: 140px;
    padding-bottom: 145px;
    overflow: hidden;

    body:not(.is-mobile) &:not(&--taxonomy-third-level) {
        background-repeat: no-repeat;
        background-position: calc(50% + 565px) 36vh;
        background-attachment: fixed;
    }

    &--taxonomy-third-level {
        padding-top: 80px;
    }

    .no-js body:not(.is-mobile) &:not(&--taxonomy-third-level),
    .no-webp body:not(.is-mobile) &:not(&--taxonomy-third-level) {
        background-image: url("img/bg/rose.png");
    }

    .webp body:not(.is-mobile) &:not(&--taxonomy-third-level) {
        background-image: url("img/bg/rose.webp");
    }
}

.main__decor-1 {
    top: 250px;
    left: -170px;

    &--taxonomy-third-level {
        top: 610px;
    }
}

.main__decor-2 {
    top: 1360px;
    right: -270px;

    &--taxonomy-third-level {
        top: 1600px;
    }
}

.main__decor-3 {
    top: 3095px;
    left: -70px;
}

.main__decor-4 {
    top: 4050px;
    left: -5px;
}

.main__decor-5 {
    top: 4230px;
    right: -95px;
}

@media screen and (max-width: 1920px) {
    .main__decor-5 {
        display: none;
    }
}

@media screen and (max-width: 1535px) {
    .main__decor-1,
    .main__decor-2,
    .main__decor-3,
    .main__decor-4 {
        display: none;
    }
}

@media screen and (max-width: 1530px) {
    .main {
        padding-top: 120px;
    }
}
