.main-header {
    padding-top: 15px;
    padding-bottom: 26px;
    background-repeat: no-repeat;
    background-position: top right;
}

.no-js .main-header,
.no-webp .main-header {
    background-image: url("img/bg/header.png");
}

.webp .main-header {
    background-image: url("img/bg/header.webp");
}

.main-header__top {

}

.main-header__extra-nav {
    @include reset-list;

    display: flex;
    align-items: center;
}

.main-header__extra-nav li {
    margin-right: 19px;
}

.main-header__extra-nav li:last-child {
    margin-right: 0;
}

.main-header__extra-nav a {
    display: flex;
    align-items: center;
    height: 40px;
    font-weight: 700;
    font-size: 20px;
    color: #000;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover,
    &:focus {
        text-decoration: none;
        color: #9d824f;
    }
}

.main-header__extra-nav li.current-menu-item a {
    color: #9d824f;
}

.main-header__extra-nav li:first-child a {
    padding: 0 14px;
    color: #fff;
    background-color: #d0aeaa;
    border-radius: 22px;
    box-shadow: 0 2px 6px rgba(182, 146, 141, 1);

    &:hover,
    &:focus {
        background-color: #bb9b97;
    }
}

.main-header__extra-nav li.current-menu-item:first-child a {
    background-color: #bb9b97;
}

.main-header__contacts-box {
    display: flex;
    align-items: center;
    margin-bottom: 19px;
}

.main-header__contacts {
    @include reset-list;

    display: flex;
    margin-left: auto;
    margin-right: 47px;
}

.main-header__contacts li {
    margin-right: 17px;
}

.main-header__contacts li:last-child {
    margin-right: 0;
}

.main-header__contacts a {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #000;
    transition: all .15s ease-in;

    &:hover,
    &:focus {
        text-decoration: none;
        color: #9d824f;
    }

    &::before {
        content: "";
        flex-shrink: 0;
        display: block;
        width: 35px;
        height: 35px;
        margin-right: 7px;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: contain;
    }
}

.main-header__contacts li:nth-child(1) a {
    font-size: 14px;
}

.no-js .main-header__contacts li:nth-child(1) a::before,
.no-webp .order {
    background-image: url("img/bg/contact-phone-icon.png");
}

.webp .main-header__contacts li:nth-child(1) a::before {
    background-image: url("img/bg/contact-phone-icon.webp");
}

.no-js .main-header__contacts li:nth-child(2) a::before,
.no-webp .order {
    background-image: url("img/bg/contact-email-icon.png");
}

.webp .main-header__contacts li:nth-child(2) a::before {
    background-image: url("img/bg/contact-email-icon.webp");
}

.main-header__contacts-link {
    font-size: 18px;
    color: #000;
    transition: all .15s ease-in;
    cursor: pointer;

    &:hover,
    &:focus {
        text-decoration: none;
        color: #9d824f;
    }
}

.main-header__search {
    position: relative;
    margin-left: auto;
}

.main-header__logo {
    margin: -74px auto 25px;
}

@media (min-width: 576px) {
    .mobile-header .container {
        max-width: 100%;
    }
}

@media (min-width: 1360px) {
    .main-header__bottom .container {
        max-width: 1300px;
    }
}

@media screen and (max-width: 1850px) {
    .main-header {
        background-position: calc(100% + 200px) 0;
    }
}

@media screen and (max-width: 1360px) {
    .main-header {
        padding-top: 0;
        padding-bottom: 40px;
    }

    .main-header__top {
        padding-top: 40px;
    }

    .main-header__top .container {
        display: flex;
        flex-direction: column;
    }

    .main-header__top .row {
        &:last-child {
            order: 1;
        }

        &:first-child {
            order: 2;
        }
    }

    .main-header__top .row:first-child .col-6 {
        &:first-child {
            display: none;
        }

        &:last-child {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

    .main-header__logo {
        margin-top: 0;
    }

    .main-header__contacts-box {
        display: block;
    }

    .main-header__contacts {
        justify-content: center;
        margin-right: 0;
    }

    .main-header__contacts-link {
        display: none;
    }

    .main-header .main-header__search {
        order: 1;
        flex-grow: 1;
        width: 365px;
        margin: 0 auto;
    }

    .main-header__contacts-box {
        order: 2;
        margin-left: auto;
    }
}
