.main-products {
    position: relative;
    padding-bottom: 120px;

    body.is-mobile &:not(&--taxonomy-third-level)::after {
        content: "";
        position: absolute;
        right: -115px;
        bottom: -80px;
        width: 667px;
        height: 574px;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: contain;

        .no-js &,
        .no-webp & {
            background-image: url("img/bg/rose.png");
        }

        .webp & {
            background-image: url("img/bg/rose.webp");
        }
    }
}

.main-products .container {
    position: relative;
    z-index: 2;
}

.main-products__title {
    max-width: 1170px;
    margin: 0 auto 16px;
}

.main-products__page-info {
    margin-bottom: 23px;
}

.main-products__list {
    margin: 0;
}

.main-products__categories {
    margin: 0 0 140px 0;
}

.main-products__nav {
    margin: 0 auto 80px;
}

@media screen and (max-width: 1530px) {
    .main-products__nav {
        display: none;
    }

    .main-products__title {
        margin-bottom: 26px;
    }
}
