.modal-close {
    position: absolute;
    z-index: 3;
    padding: 10px;
    width: 49px;
    height: 49px;
    background-color: transparent;
    border: none;
    opacity: .4;
    cursor: pointer;
    transition: all .15s ease-in;

    &:hover,
    &:focus {
        opacity: .7;
    }
}

.modal-close svg {
    display: block;
}
