.offer-internal {
    position: relative;
    padding: 45px 0;
}

.offer-internal__text {
    padding: 30px 35px 54px;
    background-color: rgba(255, 255, 255, 0.85);
}

.offer-internal__text h1 {
    margin-bottom: 0;
    font-size: 60px;
}

.offer-internal__text p {
    margin: 16px 0;
    line-height: 1.25em;
}

.offer-internal__text *:first-child {
    margin-top: 0;
}

.offer-internal__text *:last-child {
    margin-bottom: 0;
}

.offer-internal__decor-1 {
    top: -115px;
    left: -75px;
}

.offer-internal__decor-2 {
    right: -230px;
    bottom: -310px;
}

@media screen and (max-width: 1650px) {
    .offer-internal__decor-1 {
        left: -135px;
    }
}
