.offer-sale {
    text-align: center;
    background-color: #c6cdc7;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.no-js .offer-sale,
.no-webp .offer-sale {
    background-image: url("img/bg/offer-sale.jpg");
}

.webp .offer-sale {
    background-image: url("img/bg/offer-sale.webp");
}

.offer-sale .offer-sale__title {
    margin-bottom: 18px;
    font-family: "Coves", Tahoma, sans-serif;
}

.offer-sale__title em {
    font-style: normal;
    font-family: Arial, Tahoma, sans-serif;
}

.offer-sale .offer-sale__subtitle {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 30px;
}

.offer-sale .offer-sale__meta-text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
}

.offer-sale__meta-text em {
    font-style: normal;
    font-family: Arial, Tahoma, sans-serif;
    color: #5c5c57;
}