.offer-internal {
    position: relative;
    padding: 50px 0;
}

.offer-internal__text {
    padding: 36px 35px 54px;
    background-color: rgba(255, 255, 255, 0.85);

    &--extra {
        font-size: 30px;
    }
}

.offer-internal__text h1 {
    margin-top: 32px;
    margin-bottom: 22px;
    font-size: 60px;
}

.offer-internal__text--extra h1 {
    font-weight: 700;
    line-height: 1.2em;
    font-family: "Coves", Tahoma, sans-serif;
}

.offer-internal__text p {
    margin: 16px 0;
    line-height: 1.25em;
}

.offer-internal__text strong {
    font-weight: 700;
}

.offer-internal__text em {
    font-style: normal;
    font-family: Arial, Tahoma, sans-serif;
}

.offer-internal__text p em {
    color: #5c5c57;
}

.offer-internal__text *:first-child {
    margin-top: 0;
}

.offer-internal__text *:last-child {
    margin-bottom: 0;
}

.offer-internal__decor-1 {
    top: -115px;
    left: -75px;
}

.offer-internal__decor-2 {
    right: -230px;
    bottom: -310px;
}

@media screen and (max-width: 1650px) {
    .offer-internal__decor-1 {
        left: -135px;
    }
}
