.offer-wedding-trends {
    background-color: #f5f0e8;
}

.no-js .offer-wedding-trends,
.no-webp .offer-wedding-trends {
    background-image: url("img/bg/offer-wedding-trends.jpg");
}

.webp .offer-wedding-trends {
    background-image: url("img/bg/offer-wedding-trends.webp");
}
