.offer-sale {
    text-align: center;
    background-color: #c6cdc7;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.no-js .offer-sale,
.no-webp .offer-sale {
    background-image: url("img/bg/offer-sale.jpg");
}

.webp .offer-sale {
    background-image: url("img/bg/offer-sale.webp");
}
