.offer-home {
    position: relative;
}

.offer-home__title-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 590px;
    padding: 90px 0;
}

.offer-home__title-box h1 {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 880px;
    min-height: 226px;
    margin-bottom: 0;
    padding: 44px 30px 38px;
    line-height: 0.72em;
    color: #514e4e;
    background-color: rgba(255, 255, 255, 0.85);
}

.offer-home__social {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate(0, -50%);
}

.offer-home__decor-1 {
    top: -115px;
    left: -75px;
}

.offer-home__decor-2 {
    right: -230px;
    bottom: -310px;
}

@media screen and (max-width: 1650px) {
    .offer-home__decor-1 {
        left: -135px;
    }
}

@media screen and (max-width: 1360px) {
    .offer-home__social {
        display: none;
    }
}
