.order {
    padding: 60px 0;
    background-color: #e9ebe9;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.order--inner {
    background-color: #f1f1ef;
}

/*****/
.no-js .order,
.no-webp .order {
    background-image: url("img/bg/order.jpg");
}

.webp .order {
    background-image: url("img/bg/order.webp");
}

/*****/
.no-js .order--inner,
.no-webp .order--inner {
    background-image: url("img/bg/order-inner.jpg");
}

.webp .order--inner {
    background-image: url("img/bg/order-inner.webp");
}

.order__wrapper {
    position: relative;
}

.order__box {
    position: relative;
    z-index: 2;
    width: 730px;
    margin-left: auto;
    padding: 40px 55px 55px;
    background-color: rgba(255, 255, 255, 0.75);
    border-width: 10px;
    border-style: solid;
    border-image: linear-gradient(0deg, rgba(225, 202, 200, 0.75) 0%, rgba(255, 255, 255, 0.75) 99%, rgba(255, 255, 255, 0.75) 100%);
    border-image-slice: 1;
    box-shadow: 0 0 20px 1px rgba(96, 101, 73, 0.2);
}

.order--inner .order__box {
    width: 100%;
    padding-right: 85px;
    padding-left: 85px;
    //border-image: linear-gradient(0deg, rgba(255, 226, 226, 0.75) 0%, rgba(225, 202, 200, 0.75) 99%, rgba(225, 202, 200, 0.75) 100%) 1;
    border-image: linear-gradient(0deg, rgba(225, 202, 200, 0.75) 0%, rgba(225, 202, 200, 0.75) 99%, rgba(213, 194, 193, 0.75) 100%) 1;
}

.order__title {
    margin-bottom: 17px;
}

.order__form {
    width: 470px;
    margin: 0 auto;
}

.order--inner .order__form {
    width: 100%;
}

.order__fields-box {
    display: flex;
    margin-bottom: 40px;
}

.order__list {
    @include reset-list;
    margin-bottom: 33px;
}

.order--inner .order__list {
    width: 470px;
    margin-right: 40px;
    margin-bottom: 0;
}

.order__item {
    position: relative;
    margin-bottom: 13px;
}

.order--inner .order__item {
    margin-bottom: 20px;
}

.order__item:last-child {
    margin-bottom: 0;
}

.order--inner .order__item--textarea {
    display: flex;
    flex-direction: column;
    width: 470px;
    margin-bottom: 0;
}

.order__label {
    display: block;
    margin-bottom: 6px;
    font-size: 18px;
    line-height: 1;
    vertical-align: bottom;
    color: #151414;
}

.order__label span {
    cursor: pointer;
}

.order__field {
    height: 47px;
    padding: 11px 15px;
    font-size: 18px;
    line-height: 1.25em;
    border: 2px solid #f4e2d3;
    border-radius: 5px;
    transition: all 0.3s ease;
    appearance: none;

    &:focus {
        box-shadow: 0 0 10px 2px rgba(244, 226, 211, 1);
    }
}

.order--inner .order__field {
    border-width: 1px;
    border-color: #a2ac9a;

    &:focus {
        box-shadow: 0 0 10px 2px rgba(162, 172, 154, 1);
    }
}

.order__field--textarea {
    height: 100px;
    padding-top: 5px;
    resize: none;
}

.order--inner .order__field--textarea {
    flex-grow: 1;
}

.order__button {
    display: block;
    min-width: 250px;
}

.order--inner .order__button {
    margin-left: auto;
}

.order__decor-1 {
    right: -30px;
    bottom: -26px;
}

.order__decor-2  {
    z-index: 1;
    right: -156px;
    bottom: -99px;
}
