.product-item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 281px;
    text-align: center;
    color: #303030;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 3px 3px 15px 1px rgba(83, 80, 80, 0.29);
    cursor: pointer;

    &:hover .product-item__img,
    &:focus .product-item__img {
        transform: scale(1.1);
    }

    &:hover,
    &:focus,
    &:hover .product-item__name ,
    &:focus .product-item__name {
        text-decoration: none;
        color: #8a9b7c;
    }

    &:hover .product-item__name::after,
    &:focus .product-item__name::after {
        background-color: #aabe98;
    }
}

.product-item__img-box {
    margin: 0;
    width: 281px;
    height: 293px;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
}

.product-item__img {
    width: 281px;
    height: 293px;
    border-radius: 15px 15px 0 0;
    transition: transform .3s ease-in;
}

.product-item__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding: 10px 15px 15px;
}

.product-item__name {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 1.2em;
    font-family: "Coves", Tahoma, sans-serif;
    transition: all .15s ease-in;
}

.product-item__price {
    margin-bottom: 0;
    font-weight: 700;
    line-height: 1;
    color: #be6461;
}

.product-item__price-new {
    display: block;
    margin-bottom: 9px;
    text-decoration: none;
}

.product-item__price-old {
    display: block;
    font-size: 20px;
    color: #f50b0b;
}

.product-item__label {
    position: absolute;
    top: 25px;
    left: 0;
    z-index: 1;
    min-width: 140px;
    margin: 0;
    padding: 0 15px;
    font-weight: 400;
    line-height: 33px;
    text-align: center;
    color: #fff;
    border-radius: 0 8px 8px 0;

    &--main {
        background-color: rgba(215, 3, 15, .88);
        box-shadow: 4px 4px 24px rgba(165, 19, 21, .7);
    }

    &--extra {
        background-color: rgba(63, 62, 62, .88);
        box-shadow: 4px 4px 24px rgba(40, 38, 38, .7);
    }
}

@media screen and (max-width: 768px) {
    .product-item {
        &:hover .product-item__img,
        &:focus .product-item__img {
            transform: none;
        }
    }
}

@media screen and (max-width: 311px) {
    .product-item,
    .product-item__img-box,
    .product-item__img {
        width: 100%;
        height: auto;
    }
}
