.search-page {
    padding-top: 50px;
    padding-bottom: 120px;
}

.search-page__title {
    margin-bottom: 0;
    font-size: 60px;
    line-height: 1.2em;
}

.search-page__title span {
    color: #8a9b7c;
}

.search-page__result {
    margin-top: 53px;
}

.search-page__search-box {
    width: 500px;
    max-width: 100%;
    margin: 53px auto 0;
}
