.section-slider {
    padding-top: 110px;
    padding-bottom: 100px;
}

.section-slider__title {
    margin-bottom: 12px;
}

@media (min-width: 1330px) {
    .section-slider .container {
        max-width: 1270px;
    }
}

@media screen and (max-width: 341px) {
    .section-slider__title {
        margin-bottom: 42px;
    }
}
