.social-box {
    @include reset-list;

    &--horizontal {
        display: flex;
        justify-content: center;
    }
}

.social-box--vertical .social-box__item {
    margin-bottom: 2px;

    &:last-child {
        margin-bottom: 0;
    }

    &:first-child svg {
        width: 13px;
        height: auto;
    }

    &:last-child svg {
        width: 26px;
        height: auto;
    }
}

.social-box--horizontal .social-box__item {
    margin-right: 4px;

    &:last-child {
        margin-right: 0;
    }
}

.social-box__link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    cursor: pointer;

    .social-box--vertical & {
        width: 35px;
        height: 90px;
    }

    .social-box--horizontal & {
        width: 80px;
        height: 70px;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.6);
    }
}
