.top-nav {
    border: 1px solid #cdcdcd;
}

.top-nav__list {
    @include reset-list;
    display: flex;
}

.top-nav__item {
    display: flex;
    flex-grow: 1;
}

.top-nav__item > a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 12px 10px;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #9d824f;
    cursor: pointer;
    transition: all .15s ease-in;

    &:hover,
    &:focus {
        text-decoration: none;
        color: #fff;
        background-color: #8a9b7c;
    }
}

.top-nav__item.current-menu-item a {
    text-decoration: none;
    color: #fff;
    background-color: #8a9b7c;
}

.top-nav__item--sale a {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 20px;
    color: #fff;
    background-color: #d0aeaa;

    &:hover,
    &:focus {
        background-color: #bb9b97;
    }
}

.top-nav__item--sale a span {
    margin-left: 8px;
    font-weight: 300;
    font-family: Arial, Tahoma, sans-serif;
}
