.trends-text {
    margin-bottom: 125px;
}

.trends-text__box {

}

.trends-text__box h2,
.trends-text__box h3 {
    margin-top: 50px;
    margin-bottom: 13px;
}

.trends-text__box h3 {
    font-size: 50px;
}

.trends-text__box p,
.trends-text__box ul {
    margin: 16px 0;
    line-height: 1.25em;
}

.trends-text__box *:first-child {
    margin-top: 0;
}

.trends-text__box *:last-child {
    margin-bottom: 0;
}
