.trends {
    position: relative;
    padding-top: 140px;
    padding-bottom: 145px;
    background-repeat: no-repeat;
    background-position: calc(50% + 565px) 36vh;
    overflow: hidden;
}

body:not(.is-mobile) .trends {
    background-attachment: fixed;
}

.no-js .trends,
.no-webp .trends {
    background-image: url("img/bg/trends.png");
}

.webp .trends {
    background-image: url("img/bg/trends.webp");
}

.trends__nav {
    margin: 0 auto 80px;
}

.trends__title {
    max-width: 1170px;
    margin: 0 auto 10px;
}

.trends__page-size {
    margin-left: auto;
    margin-bottom: 23px;
}

.trends__decor-1 {
    top: 250px;
    left: -170px;
}

.trends__decor-2 {
    top: 1450px;
    right: -220px;
}

.trends__decor-3 {
    top: 3095px;
    left: -70px;
}

.trends__decor-4 {
    top: 4050px;
    left: -5px;
}

.trends__decor-5 {
    top: 4230px;
    right: -87px;
}
