.triggers-product {
    position: relative;
    padding-top: 120px;
    padding-bottom: 30px;
}

.triggers-product__decor-1 {
    top: 45px;
    left: -60px;
}

.triggers-product__decor-2 {
    top: 245px;
    right: -210px;
}

@media screen and (max-width: 1920px) {
    .triggers-product__decor-2 {
        top: 150px;
        right: -280px;
    }
}
