.triggers {
    position: relative;
}

.triggers__title {
    margin-bottom: 120px;
}

.triggers__list {
    @include reset-list;

    display: flex;
    flex-wrap: wrap;
}

.triggers__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 285px;
    min-height: 246px;
    margin-right: 10px;
    padding: 50px 19px 52px 19px;
    background-color: #fbfcfb;
    background-repeat: no-repeat;
    background-position: top left, right bottom;

    &:last-child {
        margin-right: 0;
    }

    &::before {
        content: "";
        position: absolute;
        top: -60px;
        left: 50%;
        z-index: 2;
        display: block;
        width: 91px;
        height: 91px;
        background-color: #fbf0ec;
        background-repeat: no-repeat;
        background-position: center;
        border: 8px solid #f2cebf;
        box-shadow: 0 0 0 2px #fff;
        border-radius: 50%;
        transform: translate(-50%, 0);
    }

    &:nth-child(1)::before {
        background-image: url("img/base/triggers-icon-1.svg");
    }

    &:nth-child(2)::before {
        background-image: url("img/base/triggers-icon-2.svg");
    }

    &:nth-child(3)::before {
        background-image: url("img/base/triggers-icon-3.svg");
    }

    &:nth-child(4)::before {
        background-image: url("img/base/triggers-icon-4.svg");
    }

    &::after {
        content: "";
        position: absolute;
        top: 9px;
        right: 9px;
        bottom: 9px;
        left: 9px;
        z-index: 1;
        border-width: 1px;
        border-style: solid;
        border-image: linear-gradient(45deg, rgba(151,109,51,1) 0%, rgba(248,230,180,1) 50%, rgba(151,109,51,1) 100%) 1;
        pointer-events: none;
    }
}

.no-js .triggers__item
.no-webp .triggers__item {
    background-image: url("img/bg/triggers-item-bg-1.png"), url("img/bg/triggers-item-bg-2.png");
}

.webp .triggers__item {
    background-image: url("img/bg/triggers-item-bg-1.webp"), url("img/bg/triggers-item-bg-2.webp");
}

.triggers__text {
    margin: 0;
    font-size: 26px;
    line-height: 0.93em;
    text-align: center;
}

.triggers__text a {
    color: #151414;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover,
    &:focus {
        text-decoration: none;
        color: #9d824f;
    }
}

.triggers__decor {
    top: -274px;
    left: -159px;
}

@media screen and (max-width: 1780px) {
    .triggers__decor {
        top: -25px;
    }
}
