.wp-pagenavi {
    display: flex;
    justify-content: center;
    align-items: center;

    & *:last-child {
        margin-right: 0;
    }
}

.wp-pagenavi a,
.wp-pagenavi span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin-right: 15px;
    font-weight: 700;
    font-size: 25px;
    line-height: 1;
    color: #8a9b7c;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 3px -3px 15px 2.5px rgba(84, 91, 78, 0.35);
    user-select: none;
}

.wp-pagenavi .current {
    color: #fff;
    background-color: #a2ac9a;
}

.wp-pagenavi .extend:hover {
    cursor: not-allowed;
}

.wp-pagenavi a {
    cursor: pointer;
    transition: all .15s ease-in;

    &:hover,
    &:focus {
        text-decoration: none;
        background-color: #f2f2f2;
    }
}

a.previouspostslink,
a.nextpostslink {
    font-size: 31px;
    color: #fff;
    background-color: #a2ac9a;
    background-repeat: no-repeat;
    background-size: 10px 19px;

    &:hover,
    &:focus {
        color: #fff;
        background-color: #bec5b8;
    }
}

a.previouspostslink {
    background-position: calc(50% - 2px) center;
    background-image: url("img/bg/arrow-left.svg");
}

a.nextpostslink {
    background-position: calc(50% + 2px) center;
    background-image: url("img/bg/arrow-right.svg");
}
